<div id="profile-container">
    <img class="dog-small" src="\dogcode2.jpg" alt="">
    <h2 class="subtitle">Edit your profile</h2>
    <form method = "POST">
        {{#rows}}
    <p>First name</p>
    <input name="first" value={{first}}>
    <p>Last name</p>
    <input name="last" value={{last}}>
    <p>Email address</p>
    <input name="email" value={{email}}>
    <p>Password</p>
    <input type="password" name="password" value="">
    <p>Age</p>
    <input name="age" value={{age}}>
    <p>City</p>
    <input name="city" value={{city}}>
    <p>Home page</p>
    <input name="url" value={{url}}>
        {{/rows}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button name="button">Submit</button>
    </form>
</div>
