

<div id="signers-contaniner">
    <h2 id="now">By now, this people signed the petition: </h2>
    <div class="signers">
        {{#rows}}
            {{#if url}}
        <p class="signer"><a href="{{url}}" target="_blank">{{first}} </a> {{last}} {{age}} <a href="/signers/{{city}}">{{city}}</a></p>
            {{else}}
            <p class="signer">{{first}} {{last}} {{age}} <a href="/signers/{{city}}">{{city}}</a> </p>
            {{/if}}
        {{/rows}}
    </div>
</div>
